.DS_Store/
.cache/
.cask/
.last-package-update-day/
.lsp-session-v1/
anaconda-mode/
.mc-lists.el/
TAGS/
anaconda-mode/
auto-save-list/
bookmarks/
elpa/
eshell/
forge-database.sqlite/
irony/
meghanada/
projectile-bookmarks.eld/
projectile.cache/
recentf/
request/
transient/